!!! 5
html
    head
        title #{title}
        
        link(rel='stylesheet', href='#{clientpath}deckem.css')
    body.deck-container
        !{deck}
        
        script(src='#{clientpath}deckem.js')
        script
            /*
            $.deck.defaults.keys = {
              next: [],
              previous: []
            };
            */
        
            $(function() {
                $.deck('.slide');
            });
   