.slide
    h1 Welcome to Deck'em
    
.slide
    h2 What is Deck'em
    
    p 
        :markdown
            Deck'em is a tool designed to make creating and
            maintaining a [deck.js](https://github.com/imakewebthings/deck.js) presentation simpler
    
    ul
        li.slide Like this one
        li.slide And this one
    
.slide
    h2 Some Example Code
    
    textarea.code(mode='javascript',runnable='true')
        console.log('hello');