/* source palette: http://www.colourlovers.com/palette/1749127/v_i_n_t_a_g_e */
.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  background: #f8f8f8;
}
.deck-container .slide {
  background: #fafafa;
}
.deck-container h1 {
  color: #5B1C0D;
}
.deck-container h2 {
  color: #AB5B1C;
  border-bottom-color: #AB5B1C;
}
.deck-container h3 {
  color: #4B5846;
}
.deck-container pre {
  background: #4B5846;
  color: white;
  border: 0;
}
.deck-container code {
  color: #4B5846;
}
.deck-container .slide > p, .deck-container .slide > ul {
  font-size: 1.3em;
}
.deck-container blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container blockquote p {
  margin: 0;
}
.deck-container blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container ::selection {
  background: #c00;
  color: #fff;
}
.deck-container a {
  color: #4B5846;
  text-decoration: none;
}
.deck-container a:hover, .deck-container a:focus {
  text-decoration: underline;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
  color: #fff;
}
.deck-container .deck-prev-link:hover,
.deck-container .deck-next-link:hover,
.deck-container .deck-prev-link:focus,
.deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .deck-container.deck-menu .no-touch.slide:hover {
  background: #ddf;
}
/*= template/curves.css */
/*= template/logger.css */
/*= template/stage-vintage.css */