body {
    background-color:#f5e5bd;
    background-image: -moz-radial-gradient(50% 0%, ellipse farthest-corner, #f5e5bd, #B68D3D 100%);
    background-image: -webkit-radial-gradient(50% 0%, ellipse farthest-corner, #f5e5bd, #B68D3D 100%);
    background-image: -o-radial-gradient(50% 0%, ellipse farthest-corner, #f5e5bd, #B68D3D 100%);
    background-image: -ms-radial-gradient(50% 0%, ellipse farthest-corner, #f5e5bd, #B68D3D 100%);
    background-image: radial-gradient(50% 0%, ellipse farthest-corner, #f5e5bd, #B68D3D 100%);
}