body {
    background: black;
}

.sp-screen {
    background: white;
}

.sp-floor {
    background: #90A5B6;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #444;
}

.sp-audience {
    background: #888;
}